# Title

Importing relevant libraries

In [2]:
import numpy as num
import scipy as sci
import pandas as pd
import matplotlib
import nltk
import sklearn as skl
import xgboost
import gensim
import json
import re
import string

Taking a fraction of the entire dataset

In [3]:
trainingAmount = 400000
testAmount = 100000

with open('review.json') as raw:
    with open('training.json', 'w') as trainingSet: 
        for x in range(trainingAmount):
            line = raw.readline()
            trainingSet.write(line)
    with open('test.json', 'w') as testSet: 
        for x in range(trainingAmount, trainingAmount+testAmount):
            line = raw.readline()
            testSet.write(line)

In [4]:
df_train = pd.read_json('training.json', lines=True)
df_test = pd.read_json('test.json', lines=True)

In [5]:
df_test = df_test.drop("review_id", axis=1).drop("business_id", axis=1).drop("user_id", axis=1).drop("date", axis=1)
df_test = df_test.reindex(['text','stars','useful','funny','cool'], axis=1)

df_train = df_train.drop("review_id", axis=1).drop("business_id", axis=1).drop("user_id", axis=1).drop("date", axis=1)
df_train = df_train.reindex(['text','stars','useful','funny','cool'], axis=1)

df_train['length'] = df_train['text'].apply(len)
df_test['length'] = df_test['text'].apply(len)

In [6]:
def clean(text):
     # Empty question
    if type(text) != str:
        return ''
    
#     nltk.corpus.stopwords.words('english')
    
    
    text = re.sub("I\'ll", "I will", text)
    text = re.sub("I\'m", "I am", text)

    text = text.lower()
    
    text = re.sub(" what\'s ", " what is ", text)
    text = re.sub(" that\'s ", " that is ", text)
    
    text = re.sub("\'s", "", text)
    
    
    text = re.sub(" whats ", " what is ", text)
    text = re.sub(" thats ", " that is ", text)
    text = re.sub("\'ve", " have ", text)
    text = re.sub("n\'t", ' not', text)

    text = re.sub('[' + string.punctuation + ']', '', text)
    
    # remove comma between numbers, i.e. 15,000 -> 15000
    text = re.sub('(?<=[0-9])\,(?=[0-9])', "", text)
    
    # Return a list of words
    return text

In [12]:
df_train.describe()

               stars         useful          funny           cool
count  400000.000000  400000.000000  400000.000000  400000.000000
mean        3.730208       1.300900       0.451282       0.549493
std         1.455814       2.956285       1.676008       2.029620
min         1.000000       0.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000       0.000000
50%         4.000000       0.000000       0.000000       0.000000
75%         5.000000       1.000000       0.000000       0.000000
max         5.000000     135.000000      85.000000     108.000000

Cleaning the data

In [7]:
df_train['text'] = df_train['text'].apply(clean)
df_test['text'] = df_test['text'].apply(clean)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

train = df_train['text'].values
test = df_test['text'].values

vectorizer = CountVectorizer()
vectorizer.fit_transform(train)

trainQvec = scipy.sparse.hstack([trainQ1vec, trainQ2vec])
trainLabels = df_train['is_duplicate'].values

In [17]:
df_test

,text,stars,useful,funny,cool,length
0,very good sushi extremely nice staff and timel...,5,0,0,0,93
1,not sure if this should be listed seperately b...,4,0,0,0,432
2,so there are 2 hard rock cafes in las vegas on...,3,0,0,0,1631
3,good restaurant but they always always over co...,3,0,0,0,179
4,overall very average compared to the hype not ...,3,1,0,0,398
5,this is such a great spot in the south hills s...,5,0,0,0,149
6,i have only ever come here for lunch which ru...,5,0,0,0,219
7,solid three stars the pizza slices suckare dry...,3,0,0,2,289
8,we ordered delivery here prompt and quick serv...,5,2,0,1,923
9,i do not like to leave low reviews but this wa...,1,1,0,0,1284
10,everything we have tried here is amazing the ...,5,0,0,0,173
11,amazing location has terrific food extremely a...,5,0,0,0,169
12,took my mini cooper here since i am new to tow...,2,1,0,0,335
13,wow awesome asian food we had to try because...,5,0,0,0,295
14,i loved this store they had everything from fu...,5,1,0,0,202
15,this location knows that you are just visiting...,1,0,0,0,436
16,this place is a must see what on the menu do i...,5,1,0,0,283
17,reminiscent of everything that is popular and ...,5,2,0,2,1280
18,this is an older theater so it could use some ...,2,9,4,4,649
19,three 12 stars\nfirst thing i noticed when we ...,3,2,2,1,2137
20,wait staff is extremely nice and serviceable ...,4,0,0,0,259
21,love this little golf course mature trees beau...,5,1,0,0,125
22,excellent food excellent service reservations ...,5,0,0,0,93
23,my favorite place to eat in henderson no doubt...,5,0,0,0,249
24,decided to try this bbq restaurant for lunch ...,4,0,1,0,964
25,wellthe ice cubes were very precise and nice t...,3,1,0,0,594
26,solid food especially for meat lovers we have ...,5,1,0,0,744
27,the perfect spot for late night quality food o...,5,8,1,4,572
28,the food is great salsitas has great good at a...,4,1,0,1,431
29,i stayed here for 4 nights it is good the best...,3,0,0,0,218
...,...,...,...,...,...,...
99970,clean professional customer service ask for ro...,5,1,0,0,68
99971,came here today with the ol dad after a couple...,5,0,0,0,589
99972,food was just ok nothing like other roys i ha...,1,0,0,0,388
99973,i love this casino for the people that go low ...,5,1,1,1,1068
99974,i have no real complaints prices are high but...,4,1,0,1,178
99975,die buffets in las vegas sind aus meiner erfah...,3,1,0,1,1172
99976,stopped in for lunch excellent service friendl...,5,0,0,0,386
99977,this is a scam beware of timeshare do not buy ...,1,1,0,0,568
99978,i needed to ship a lot of precious items and m...,5,1,0,1,357
99979,i highly recommend dr josh olson and his staff...,5,0,0,0,618
99980,i find the service here is always quite amazin...,4,0,0,0,448
99981,we came here on a friday around 630pm before a...,2,1,0,1,1629
99982,highly recommend this company to install floor...,5,0,0,0,269
99983,we went to westgate for yardhouse but it was s...,5,2,0,2,827
99984,as a female i felt very uncomfortable here i w...,1,1,0,0,294
99985,we have had a great service and the christmas ...,5,0,0,0,136
99986,payless pizza is the best pizza in the entire ...,5,0,0,0,425
99987,we were here the third night it opened the foo...,3,3,0,0,508
99988,i only go to jenny she is very nice and wow do...,5,0,0,0,83
99989,i have been coming to snapdragon salon for ab...,5,1,0,0,313
99990,wow i had been wanting to try little miss bbq ...,5,55,25,38,2289
99991,tadka deserves more than the current 3star rat...,4,2,0,0,676
99992,we moved to phoenix about 6 months ago and sin...,4,5,3,3,599
99993,i searched yelp for carpet cleaners and becaus...,5,0,0,0,286
99994,i ordered 3 sandwiches to the were not stuffed...,1,1,0,0,602
99995,went here for a lonely sad man beer and the yo...,5,0,0,0,144
99996,this review is for their happy hour the lady f...,4,0,0,0,527
99997,very professional and friendly will come back ...,5,0,0,0,266
99998,i had a small craving for bbq and unfortunatel...,4,0,0,0,417
99999,this place is such a hidden gem you would neve...,5,0,0,0,540