# Title

Importing relevant libraries

In [1]:
import numpy as num
import scipy as sci
import pandas as pd
import matplotlib.pyplot as plt
import nltk
import sklearn as skl
import xgboost
import gensim
import json
import re
import string
import seaborn as sns

Taking a fraction of the entire dataset

In [2]:
trainingAmount = 10000
testAmount = 2500

with open('review.json') as raw:
    with open('training.json', 'w') as trainingSet: 
        for x in range(trainingAmount):
            line = raw.readline()
            trainingSet.write(line)
    with open('test.json', 'w') as testSet: 
        for x in range(trainingAmount, trainingAmount+testAmount):
            line = raw.readline()
            testSet.write(line)

In [54]:
df_train = pd.read_json('training.json', lines=True)
df_test = pd.read_json('test.json', lines=True)

df_test = df_test.drop("review_id", axis=1).drop("business_id", axis=1).drop("user_id", axis=1).drop("date", axis=1)
df_test = df_test.reindex(['text','stars','useful','funny','cool'], axis=1)

df_train = df_train.drop("review_id", axis=1).drop("business_id", axis=1).drop("user_id", axis=1).drop("date", axis=1)
df_train = df_train.reindex(['text','stars','useful','funny','cool'], axis=1)

## Defining the clean method

In [77]:
def clean(text):
    from nltk.stem import WordNetLemmatizer
    from nltk.stem.snowball import SnowballStemmer
    from nltk.tokenize import word_tokenize
    
#     lemmatizer = WordNetLemmatizer()
#     for word in text:
#         word = lemmatizer.lemmatize(word)
    
     # Empty question
    if type(text) != str:
        return ''
    
    stopwords = nltk.corpus.stopwords.words('english')

    
    text = re.sub("I\'ll", "I will", text)
    text = re.sub("I\'m", "I am", text)

    text = text.lower()
    
    text = re.sub(" what\'s ", " what is ", text)
    text = re.sub(" that\'s ", " that is ", text)
    
    text = re.sub("\'s", "", text)
    text = re.sub('\n', ' ', text)
    
    
    text = re.sub(" whats ", " what is ", text)
    text = re.sub(" thats ", " that is ", text)
    text = re.sub("\'ve", " have ", text)
    text = re.sub("n\'t", ' not', text)

    text = re.sub('[' + string.punctuation + ']', '', text)
    
    # remove comma between numbers, i.e. 15,000 -> 15000
    text = re.sub('(?<=[0-9])\,(?=[0-9])', "", text)
    
#     for sw in stopwords:
#         text = re.sub(' ' + sw + ' ', ' ', text)
    
    tokenized_text = word_tokenize(text) 
    
    tokenized_clean_text = [w for w in tokenized_text if not w in stopwords] 
    
    
#     stemmer = SnowballStemmer('english')
#     textList = word_tokenize(text)
#     text = ''
#     for word in textList:
#         text += stemmer.stem(word) + ' '
    
    
    # Return a list of words
    return tokenized_clean_text

In [78]:
df_train['length'] = df_train['text'].apply(len)
df_test['length'] = df_test['text'].apply(len)

In [79]:
df_train.describe()

              stars       useful         funny          cool        length
count  10000.000000  10000.00000  10000.000000  10000.000000  10000.000000
mean       3.716700      1.29820      0.458000      0.559000    581.699600
std        1.471549      2.90264      1.557973      2.056682    547.943392
min        1.000000      0.00000      0.000000      0.000000      2.000000
25%        3.000000      0.00000      0.000000      0.000000    231.000000
50%        4.000000      0.00000      0.000000      0.000000    414.000000
75%        5.000000      1.00000      0.000000      0.000000    737.000000
max        5.000000     91.00000     42.000000     86.000000   4998.000000

In [80]:
df_test

,text,stars,useful,funny,cool,length
0,WOW!! This company is amazing!!!!! As a full t...,5,0,0,0,564
1,We had an appointment for 6:50 and we are stil...,1,0,0,0,152
2,Review is purely on the food because this is j...,4,0,0,0,634
3,"First of all, the inside is super clean and or...",5,1,0,0,388
4,I had seen this place featured on some Charlot...,5,1,0,1,1476
5,I stopped because it was very early (before 8a...,1,2,0,1,625
6,I had a meeting for an estimate on June 1. Chr...,1,21,0,0,252
7,"A fantastic place to train, especially if you ...",5,0,0,0,241
8,I come here frequently for an upper lip wax. T...,4,2,1,2,204
9,I have been going to this nail salon for years...,2,4,0,0,1247
10,As a non hot dog person I was not super excite...,3,0,0,0,975
11,"A great choice if you want something warm, fas...",5,0,0,0,888
12,"First off, Bookmans is definitely better than ...",3,0,0,0,1353
13,"Regardless of the rental car company, you need...",3,0,0,0,479
14,Today was my first time eating at Served. I ...,5,0,0,0,401
15,So nice to see the old (Tatum & Shea) Bombay s...,4,9,0,3,1457
16,We went for dinner. There is something to sui...,3,0,0,0,339
17,Sunday 6/24/2018 Jose came out to assist us wi...,5,0,0,0,843
18,Waited 2 hours as expected since this is still...,2,1,1,0,901
19,They're located inside the Partell Pharmacy so...,4,1,0,0,460
20,This Blimpie location is the best I've experie...,5,0,0,0,362
21,I never realized this Khoury's was tucked behi...,5,2,0,0,544
22,I've been there about 15 times by now....they ...,5,1,0,0,190
23,This was our fave pizza place. The monster piz...,1,1,0,0,833
24,I have nothing but good things to say about Ad...,5,0,0,0,774
25,Broke my power button while replacing my broke...,2,1,1,1,118
26,Fairly new establishment as I'm told. Plenty o...,5,3,0,0,504
27,I had ordered flowers a day in advance to be d...,1,7,3,0,1568
28,"Great atmosphere, there sampler plate is fried...",4,0,0,0,423
29,I've been going to this Snap Fitness location ...,4,0,0,0,890
...,...,...,...,...,...,...
2470,My lovely daughter Whitney wanted to take me t...,3,7,4,7,2223
2471,"I never been to the ""old"" Goose before the ren...",3,1,1,0,1028
2472,Our server Haylee was fantastic! We came here ...,5,0,0,0,140
2473,I went when this first opened had a free Coupo...,1,0,0,0,494
2474,The mango roll was very good!! This cozy place...,4,3,0,3,156
2475,My wife was in need of a new car after giving ...,5,0,0,0,1031
2476,I came here originally in August because my br...,2,0,2,0,1557
2477,Sunny was so friendly and the food was beyond ...,5,0,0,0,158
2478,Horrible music \n\nTypical Im gonna stare you ...,3,9,4,7,99
2479,I reviewed this restaurant before and gave it ...,5,0,0,0,267
2480,Probably the best food places at the beaches. ...,3,0,0,0,970
2481,$10 admission for kids tournaments and the ACs...,1,1,1,0,337
2482,This is one place in Vegas that's does ribs an...,4,0,0,1,194
2483,In Vegas for a youth basketball tournament and...,1,0,0,0,651
2484,Today I celebrated my birthday by a surprise l...,5,0,0,0,184
2485,Most Fun and Relaxing Surgery I have ever expe...,5,11,0,0,1047
2486,"Every time I come to Vegas, I immediately book...",5,1,0,1,443
2487,First time here while on a family vacation. Gr...,5,0,0,0,715
2488,Second visit way better than the first when th...,3,1,1,1,1082
2489,Lets just say i do indeed have a love hate rel...,3,0,0,0,298
2490,Hands down the best pizza I've ever had. The i...,5,0,0,0,338
2491,My friend and I went to Landmark for dessert o...,3,0,0,0,214
2492,My boyfriend and I decided to try a new place ...,3,0,0,0,240
2493,First off when you walk through the doors.. th...,2,0,0,0,1016
2494,This is possibly the cutest stop on Baldwin Vi...,3,3,2,6,1016
2495,Fire Grilled Filet Mignon with White Cheddar M...,4,1,0,0,164
2496,"We stayed in the Rosemary building, it was sup...",3,0,0,0,669
2497,I recently had my hair cut and balyaged by Nik...,5,2,0,1,489
2498,Haven't been to Denny's in years bc I always h...,5,0,0,0,462
2499,"We all know how hard it is to find a reliable,...",5,0,0,0,511

Cleaning the data

In [81]:
df_train['cleaned_text'] = df_train['text'].apply(clean)
df_test['cleaned_text'] = df_test['text'].apply(clean)

Saving all the necessary data in arrays

In [82]:
train = df_train['cleaned_text'].values
test = df_test['cleaned_text'].values
trainStars = df_train['stars'].values
testStars = df_test['stars'].values

## BOW model with Naïve Bayes Classifier

In [84]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

vectorizer = CountVectorizer()
trainVecs = vectorizer.fit_transform(train)
testVecs = vectorizer.transform(test)

TypeError: sequence item 0: expected str instance, list found

In [ ]:
from sklearn.naive_bayes import MultinomialNB
classifierNB = MultinomialNB()
classifierNB.fit(trainVecs, trainStars)

In [ ]:
testStars_predicted = classifierNB.predict(testVecs)
print(classifierNB.score(testVecs, testStars)*100, "%")

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(testStars, testStars_predicted, labels=None, sample_weight=None)

df_cm = pd.DataFrame(confusion_matrix, index = [i for i in "12345"],
                  columns = [i for i in "12345"])
plt.figure(figsize = (10,7))
sns.heatmap(df_cm, annot=True, fmt='g')
plt.ylabel('Actual')
plt.xlabel('Predicted')
plt.show()

In [ ]:
confusion_matrix_percentage = confusion_matrix / df_train.shape[0] * 100

df_cm = pd.DataFrame(confusion_matrix_percentage, index = [i for i in "12345"],
                  columns = [i for i in "12345"])
plt.figure(figsize = (10,7))
sns.heatmap(df_cm, annot=True, fmt='g')
plt.ylabel('Actual')
plt.xlabel('Predicted')
plt.show()

In [ ]:
confusion_matrix_proportions = []
for n in range(confusion_matrix.shape[0]):
    confusion_matrix_proportions.append(confusion_matrix[n,:]/df_test.groupby('stars').count().at[n+1, 'text']*100)
    
confusion_matrix_proportions = num.array(confusion_matrix_proportions)

df_cm = pd.DataFrame(confusion_matrix_proportions, index = [i for i in "12345"],
                  columns = [i for i in "12345"])
plt.figure(figsize = (10,7))
sns.heatmap(df_cm, annot=True, fmt='g')
plt.ylabel('Actual')
plt.xlabel('Predicted')
plt.show()

In [ ]:
import collections
distance = num.abs(testStars - testStars_predicted)
collections.Counter(distance)

## Word2Vec model

In [ ]:
from nltk.tokenize import word_tokenize
from gensim.models import Word2Vec

train_tokenized = [word_tokenize(token) for token in train]
test_tokenized = [word_tokenize(token) for token in test]

word2vec = Word2Vec(train_tokenized)

word2vec.init_sims(replace=True)

In [ ]:
def sent2vec(reviewTok):
    vecSize = len(word2vec.wv[reviewTok[0][0]])
    reviewVec = []
    for sentence in reviewTok:
        vectorSum = num.zeros(vecSize)
        empty = True
        for token in sentence:
            if token in word2vec.wv.vocab:
                vectorSum += word2vec.wv[token]
                empty = False
        if not empty:
            vectorSum = vectorSum / num.sqrt((vectorSum ** 2).sum())
        reviewVec.append(vectorSum)
    return num.array(reviewVec)

In [ ]:
train_vectors = sent2vec(train_tokenized)
test_vectors = sent2vec(test_tokenized)

In [ ]:
from xgboost import XGBClassifier
xgbclassifier = XGBClassifier()
xgbclassifier.fit(train_vectors, trainStars)

In [ ]:
print(xgbclassifier.score(test_vectors, testStars)*100, '%')

***

### Looking for relation between text length and rating
Tests with charts

In [ ]:
g = sns.FacetGrid(data=df_test, col='stars')
g.map(plt.hist, 'length', bins=50)

In [ ]:
sns.boxplot(x='stars', y='length', data=df_test)

In [ ]:
df_test.describe()

In [ ]:
starProp_train = df_train.groupby('stars').count().drop('useful', axis=1).drop('funny', axis=1).drop('cool', axis=1).drop('length', axis=1)
starProp_train['percentage'] = starProp_train['cleaned_text'] / df_train.shape[0] * 100
starProp_train

In [ ]:
starProp_test = df_test.groupby('stars').count().drop('useful', axis=1).drop('funny', axis=1).drop('cool', axis=1).drop('length', axis=1)
starProp_test['percentage'] = starProp_test['cleaned_text'] / df_test.shape[0] * 100
starProp_test

Training and test set have same proportions! :-)

ideas:
- make a numbers token <NUMBER>
- stem the words
- remove stopwords
- create a personal noun token <PERSONALNOUN>

In [ ]:
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import word_tokenize

stemmer = SnowballStemmer('english')

review = word_tokenize(df_test['cleaned_text'].values[4])
stemmed = ''
for word in review:
    stemmed += stemmer.stem(word) + ' '